<!DOCTYPE html>
<html>
  <head>

  <title>Forum | Home</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  </head>

  <body>

  <div class="container-fluid">
  
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- Menu -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Title</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Tags</a></li>
              <li><a href="#">Posts</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Register</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
      <!-- End menu -->

      <!-- Single post -->
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:5%"></th>
              <th style="width:50%"></th>
              <th style="width:10%"></th>
              <th style="width:10%"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <!-- Single line -->
            <tr>
              <td>
                <img src="images/logo.png" alt="" class="img-responsive" style="width:50px; height:50px">
              </td>
              <td>
                <p>Dòng 1</p>
                <p>Dòng 2</p>
              </td>
              <td>
                <p>20K</p>
                <p>VIEWS</p>
              </td>
              <td style="border-right:3px solid green">
                <p>20K</p>
                <p>COMMENTS</p>
              </td>
              <td>1</td>
            </tr>
            <!-- Single line -->
             <!-- Single line -->
            <tr>
              <td>
                <img src="images/logo.png" alt="" class="img-responsive" style="width:50px; height:50px">
              </td>
              <td>
                <p>Dòng 1</p>
                <p>Dòng 2</p>
              </td>
              <td>
                <p>20K</p>
                <p>VIEWS</p>
              </td>
              <td style="border-right:3px solid green">
                <p>20K</p>
                <p>COMMENTS</p>
              </td>
              <td>1</td>
            </tr>
            <!-- Single line -->
             <!-- Single line -->
            <tr>
              <td>
                <img src="images/logo.png" alt="" class="img-responsive" style="width:50px; height:50px">
              </td>
              <td>
                <p>Dòng 1</p>
                <p>Dòng 2</p>
              </td>
              <td>
                <p>20K</p>
                <p>VIEWS</p>
              </td>
              <td style="border-right:3px solid green">
                <p>20K</p>
                <p>COMMENTS</p>
              </td>
              <td>1</td>
            </tr>
            <!-- Single line -->
             <!-- Single line -->
            <tr>
              <td>
                <img src="images/logo.png" alt="" class="img-responsive" style="width:50px; height:50px">
              </td>
              <td>
                <p>Dòng 1</p>
                <p>Dòng 2</p>
              </td>
              <td>
                <p>20K</p>
                <p>VIEWS</p>
              </td>
              <td style="border-right:3px solid green">
                <p>20K</p>
                <p>COMMENTS</p>
              </td>
              <td>1</td>
            </tr>
            <!-- Single line -->


          </tbody>
        </table>
      </div>
      <!-- End single post -->







      <p>
        Thông tin từ server: 
        <p id="b"></p>
      </p>
      <p id="d">Chuẩn bị nhận tin từ server</p>




    </div>


  </div>
  	
  <!-- Scripting -->
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="js/client.js"></script> -->
  <script>
      var socket = io();
      //In socket.on, create a point call message or whatever you want to create message back to server
      socket.on('mess', function(data){
        // document.write(data);
        document.getElementById('d').innerHTML = data.fromServer;
      });
      //send data back to server
      socket.emit('mess_back', {'fromClient':'This is the data from client send to server'});

      //receive count variable from server
      socket.on('count', function(data){
        document.getElementById('b').innerHTML = data.count;
      });

      //receive data from mysql database
      socket.on('ddd', function(data){
        console.log(data.mysqlData);
      });
      

      function printObject(o) {
        var out = '';
        for (var p in o) {
          out += p + ': ' + o[p] + '\n';
        }
        alert(out);
      }
  </script>
  </body>
</html>